---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

#grid {float:left; width:410px; height:480px; margin: 0px -28px;}
.kringle {float:right}

#limheight {
    height: 500px; /*your fixed height*/
    width: 500px; /*your fixed height*/
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
    column-gap: 40px;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
    //background-color: #E3F4FA;
    padding: 10px;
    //margin: 6px;

}
#limheight li {
    display: inline-block; /*necessary*/
}





// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
